/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/

form {
	max-width: calc(var(--SmallWidth) - 100px);
	font-size: 20px;
	width: 100%;
	margin: 0;

	& button,
	& .button {
		margin: 1em 0 0 0;
		font-size: 1rem;
	}

	& p {
		font-size: 1rem
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.gfield_radio li,
		&.gfield_checkbox li {
			margin: 0;
			width: auto;
			padding: 0;
		}

		&.gfield_radio li {
			margin: 0 1em 0 0;
		}
	}

	& li {
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: .5rem;
		padding-top: 20px;
		line-height: 1.5;
		position: relative;

		&.upload-input {
			margin-top: 10px;
		}

		&.hidden_label {
			&>label {
				display: none;
			}
		}

		&.is-hidden {
			display: none;
		}

		&.are-stacked {
			& ul {
				padding-top: 1.25em;
			}

			& li {
				display: block;
				float: none;
				padding: 0;
			}
		}

		&.half {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--800vp) {
				width: 49%;
				margin-right: 1%;

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}

		&.third {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--800vp) {
				width: 32.33%;
				margin: 0 .5%;

				&.first {
					margin-left: 0;
					margin-right: 1%;
				}

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.validation_message {
	display: none;
}

.instruction {
	font-size: 14px;
}

/*---------------------------------------*\
    LABELS
\*---------------------------------------*/

label {
	display: block;
	padding: 0;
	line-height: 28px;
	font-size: 1.25rem;
	font-family: var(--HeaderFont);
	font-style: italic;
	color: var(--DarkGrey);
	transition: all .25s linear;
}

.gfield>label {
	position: absolute;
	left: 10px;
	top: 25px;
}

.is-active label,
.has-value label {
	color: var(--Blue);
	top: -4px;
	left: 0;
	font-size: 14px;
}

.has-value input,
.has-value select,
.has-value textarea {
	background-color: transparent;
}

.gfield_error label {
	color: var(--Negative);
}

.gfield_error input,
.gfield_error select,
.gfield_error textarea {
	background-color: var(--White);
}

.charleft,
.gfield_description,
.ginput_container label {
	color: var(--Grey);
	font-size: .75rem;
	margin-bottom: .5rem;
}

.screen-reader-text {
	font-size: 12px;
	color: var(--Grey);
}

/*---------------------------------------*\
    INPUTS
\*---------------------------------------*/

input {
	font-family: var(--HeaderFont);
	color: var(--Blue);
	font-style: italic;
	border: none;
	border-bottom: 2px solid var(--DarkGrey);
	width: 100%;
	padding: .5rem;

	&:focus {
		outline: none;
		border-color: var(--Blue);
		background-color: transparent;
	}

	&.is-activated,
	&.LV_valid_field {
		background-image: url(../images/check.svg);
		background-repeat: no-repeat;
		background-position: center right .5rem;
		background-size: 1.25rem;
	}

	&.LV_invalid_field {
		border-color: var(--Negative);
		background-image: url(../images/close.svg);
		background-repeat: no-repeat;
		background-position: center right .5rem;
		background-size: 1.25rem;
	}
}

input[type="search"] {
	background-image: none !important;
}

/*---------------------------------------*\
	FILE UPLOAD
\*---------------------------------------*/

input[type="file"] {
	color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
	visibility: hidden;
}

input[type="file"]::before {
	content: "Upload File";
	display: inline-block;
	border: 2px solid var(--Grey);
	background-color: transparent;
	color: var(--Grey);
	font-family: var(--BodyFont);
	font-style: normal;
	padding: .75em 1.25em;
	cursor: pointer;
	border-radius: 50px;
	outline: 0;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 14px;
}

input[type="file"].file-uploaded::before {
	content: "Change File";
	border-color: var(--Blue);
	background-color: var(--Blue);
	color: var(--White);
}

/*---------------------------------------*\
    RADIO / CHECKBOXES
\*---------------------------------------*/

.gfield_checkbox,
.gfield_radio {
	margin-top: 10px;
	padding-top: 1.5em;
}

#field_8_6,
#input_8_6,
#field_9_6,
#input_9_6,
#field_12_6,
#input_12_6 {
	padding: 0;
}

input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid var(--DarkGrey);
	margin: 0 .25rem 0 .5rem;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: var(--Blue);
		border-color: var(--Blue);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

input[type="checkbox"] {
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

.gfield_checkbox {
	& label {
		display: inline-block;
		margin: .25em .25em .25em 0;
		padding: .15em .75em;
		cursor: pointer;
		border-radius: 50px;
		border: 2px solid var(--Grey);
		background-color: transparent;
		color: var(--Grey);
		font-family: var(--BodyFont);
		font-size: .75em;
		text-decoration: none;
		text-align: center;
		outline: none;
		transition: all .35s linear;
	}

	& input:checked+label {
		color: var(--White);
		border-color: var(--Blue);
		background-color: var(--Blue);
	}
}

/*---------------------------------------*\
    SELECT
\*---------------------------------------*/

select {
	font-family: var(--HeaderFont);
	font-style: italic;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--DarkGrey);
	padding: .5rem;
	padding-right: calc(.5rem + 20px);
	width: 100%;
	appearance: none;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right .5rem;
	background-size: 1.25rem;

	&:focus {
		outline: none;
		border-color: var(--Blue);
		background-color: transparent;
	}

	&.is-activated,
	&.LV_valid_field {}

	&.LV_invalid_field {
		border-color: var(--Negative);
	}
}

/*---------------------------------------*\
    TEXTAREA
\*---------------------------------------*/

textarea {
	font-family: var(--HeaderFont);
	font-style: italic;
	border: 2px solid var(--DarkGrey);
	padding: .5rem;
	width: 100%;

	&:focus {
		outline: none;
		border-color: var(--Blue);
		background-color: transparent;
	}

	&.is-activated,
	&.LV_valid_field {
		background-image: url(../images/check.svg);
		background-repeat: no-repeat;
		background-position: center right .5rem;
		background-size: 1.25rem;
	}

	&.LV_invalid_field {
		border-color: var(--Negative);
		background-image: url(../images/close.svg);
		background-repeat: no-repeat;
		background-position: center right .5rem;
		background-size: 1.25rem;
	}
}

/*---------------------------------------*\
    NAME
\*---------------------------------------*/

.ginput_container_name {
	display: flex;
	flex-wrap: wrap;

	&>span {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		@media(--800vp) {
			width: 49%;
			margin-right: 1%;

			&.name_last {
				margin-right: 0;
				margin-left: 1%;
			}
		}
	}
}

/*---------------------------------------*\
    ADDRESS
\*---------------------------------------*/

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@media(--800vp) {

		& .address_city,
		& .address_state,
		& .address_zip {
			width: 32.33%;
			margin: 0 .5%;
		}

		& .address_city {
			margin-left: 0;
			margin-right: 1%;
		}

		& .address_zip {
			margin-right: 0;
			margin-left: 1%;
		}
	}
}

/*---------------------------------------*\
    TIME
\*---------------------------------------*/

.clear-multi::after {
	content: '';
	clear: both;
	display: block;
}

.gfield_time_hour {
	width: calc(33% - .5rem);
	margin-right: .5rem;
	float: left;

	& i {
		display: none;
	}
}

.gfield_time_minute {
	width: calc(33% - .5rem);
	margin-right: .5rem;
	float: left;
}

.gfield_time_ampm {
	width: 33%;
	float: left;
}

/*---------------------------------------*\
    DATEPICKER
\*---------------------------------------*/

#ui-datepicker-div {
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	padding: 20px;
	width: 300px;

	& .ui-icon {
		color: transparent;
		cursor: pointer;
		font-size: 0px;
	}

	& .ui-icon:before {
		color: var(--Primary);
		font-size: 18px;
	}

	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '<';
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '>';
			float: right;
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-title {
		display: flex;

		& select {
			width: 100%;
			padding: 2px;
			margin: 0 1px 10px 1px;
		}
	}

	& .ui-datepicker-today {
		background-color: var(--Primary);
		border-radius: 4px;

		& a {
			color: #FFF;
		}
	}

	& table {
		width: 100%;

		& td,
		& th {
			text-align: center;
		}

		& td {
			& a {
				display: block;
				padding: 5px;
			}
		}
	}
}

/*---------------------------------------*\
    PAYMENT
\*---------------------------------------*/

.gfield.credit-card>label {
	position: initial;
}

.ginput_container_creditcard {

	& input.is-activated,
	& input.LV_valid_field {
		background-image: none;
	}

	& .gform_card_icon_container {
		display: flex;
		flex-wrap: wrap;

		& .gform_card_icon {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.5rem;
			width: 35px;
			height: 35px;
			margin: 0 .5rem 0 0;
			text-indent: -100000px;
			overflow: hidden;
		}

		& .gform_card_icon_amex {
			background-image: url('../images/CC-american-express.svg');
		}

		& .gform_card_icon_discover {
			background-image: url('../images/CC-discover.svg');
		}

		& .gform_card_icon_mastercard {
			background-image: url('../images/CC-mastercard.svg');
		}

		& .gform_card_icon_visa {
			background-image: url('../images/CC-visa.svg');
		}

		& .gform_card_icon_jcb {
			background-image: url('../images/CC-jcb.svg');
		}
	}

	& .ginput_cardextras {
		display: flex;
		flex-wrap: wrap;
	}

	& .ginput_cardinfo_left {
		width: 66%;

		& .ginput_card_field {
			display: flex;
			flex-wrap: wrap;

			& select {
				width: calc(50% - 1em);
				margin: 0 1em 0 0;
			}

			& label {
				width: 100%;
			}
		}
	}

	& .ginput_cardinfo_right {
		width: 33%;
		display: flex;
		flex-wrap: wrap;

		& input {
			width: calc(100% - 1em);
			margin: 0 1em 0 0;
		}

		& span {
			display: none;
		}

		& label {
			width: 100%;
		}
	}
}

/*---------------------------------------*\
    SUBMIT
\*---------------------------------------*/

aside form button {
	display: table !important;
	margin: 0 auto !important;
}