/*----------------------------------------------------------------*\
	STANDARD LISTS
\*----------------------------------------------------------------*/

ul,
ol {
	font-family: var(--BodyFont);
	font-size: 1em;
}

li,
.list-item {
	line-height: 2;
}

/*----------------------------------------------------------------*\
	REMOVE BULLETS MODIFER
\*----------------------------------------------------------------*/

ul,
ol {
	&.have-no-bullets {
		list-style: none;
		padding: 0;
	}
}

/*----------------------------------------------------------------*\
	ICONS MODIFER
\*----------------------------------------------------------------*/

ul,
ol {
	&.have-icons {
		list-style: none;
		padding: 0;
		& li {
			line-height: 3;
			& svg,
			& img {
				display: inline-block;
				/* svg styling based on orion lab line icons */
				/* adjust style specific for your icon set */
				vertical-align: text-top;
				height: 1.5em;
				width: 1.5em;
				margin-right: .25em;
				stroke: var(--Black);
				fill: transparent;
				/* make icon align just right */
				position: relative;
				top: -1px;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	DESCRIPTION MODIFER
\*----------------------------------------------------------------*/

ul,
ol {
	&.have-description {
		& li {
			line-height: 1;
			margin-bottom: 1em;
			& span {
				display: block;
				color: var(--Grey);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	INLINE MODIFER
\*----------------------------------------------------------------*/

ul,
ol {
	&.are-inline {
		padding: 0;
		& li {
			display: inline;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}