/*----------------------------------------------------------------*\
		TABLES
\*----------------------------------------------------------------*/

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	tr {
		background-color: var(--White);
		&:nth-child(even) {
			background-color: var(--Grey);
		}
		th,
		td {
			border: 1px solid var(--Black);
			padding: .5em .25em;
		}
		th {
			font-family: var(--HeaderFont);
			line-height: 2;
		}
		td {
			font-family: var(--BodyFont);
		}
	}
}