/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Arvo';
	src: url('../fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Poppins Bold';
	src: url('../fonts/Poppins-Bold.otf') format('opentype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--HeaderFontBold);
	color: var(--Blue);
	margin: 1.5em 0 .5em 0;
}

h1 {
	font-size: responsive 35px 60px;
	font-range: 420px 1400px;
	line-height: 1.2;
}

h2 {
	font-size: responsive 30px 42px;
	font-range: 420px 1400px;
}

h3 {
	font-size: responsive 24px 30px;
	font-range: 420px 1400px;
}

h4 {
	font-size: responsive 20px 25px;
	font-range: 420px 1400px;
}

h5 {
	font-size: responsive 18px 18px;
	font-range: 420px 1400px;
}

/*----------------------------------------------------------------*\
		SUBHEADERS
\*----------------------------------------------------------------*/

h1.has-subheader,
h2.has-subheader,
h3.has-subheader,
h4.has-subheader {
	margin-bottom: .2em;
	&+.subheader {
		margin: 0;
		color: var(--Primary);
		font-family: var(--HeaderFont);
		font-size: .875em;
		font-style: italic;
		line-height: 1.3;
	}
}

h1.has-subheader+.subheader {
	font-size: responsive 23px 28px;
	font-range: 420px 1400px;
}

h2.has-subheader+.subheader {
	font-size: responsive 20px 25px;
	font-range: 420px 1400px;
}

h3.has-subheader+.subheader {
	font-size: responsive 16px 20px;
	font-range: 420px 1400px;
}

/*----------------------------------------------------------------*\
		HAS ICON MODIFIER
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	&.has-icon {
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: var(--Black);
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 2px;
	margin: .875em 0;
	background-color: var(--DarkGrey);
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: var(--Secondary);
	font-weight: bold;
}

p,
span,
time,
address {
	color: var(--Black);
	font-family: var(--BodyFont);
	font-size: 1em;
	line-height: 1.75;
}

strong,
b {
	font-family: var(--BodyFontBold);
}

p.is-two-column {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

p.is-three-column {
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

p.is-four-column {
	column-count: 4;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: var(--SmallWidth);
	margin: 20px auto;
	padding: 1em;
	border-left: 3px solid var(--Blue);
	&>*:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 0;
	}
	& p {
		color: var(--Blue);
		font-size: 1.15em;
		&:last-of-type {
			color: var(--Black);
			font-family: var(--BodyFontBold);
			font-size: 1em;
			text-transform: uppercase;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}