/*----------------------------------------------------------------*\
	PAGE BUILDER BLOCKS
\*----------------------------------------------------------------*/

section.block-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	&.has-extra-padding {
		padding: 50px 0;
	}
	&.has-dark-bg {
		background-color: var(--Grey);
		&>.block-row {
			padding: 50px 0;
		}
	}
	&.has-bg-img {
		&>.block-row {
			padding: 50px 0;
		}
		&:last-child>.block-row {
			margin-bottom: 0;
		}
	}
	&>.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: color( var(--White) alpha(50%));
	}
	&>.block-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 50px auto;
		position: relative;
		z-index: 2;
		&>.block-column {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto;
		}
		@media(--800vp) {
			&.has-two-column>.block-column,
			&.has-four-column>.block-column {
				width: 50%;
			}
			&.has-three-column>.block-column {
				width: 33%;
			}
		}
		@media(--1024vp) {
			&.has-four-column>.block-column {
				width: 25%;
			}
		}
	}
}