/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer.page-footer {
  position: relative;
  padding-top: 40px;
  color: var(--White);
  background-color: var(--Blue);

  & > svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    height: 175px;
    opacity: 0;
    transform: translateY(-100%);

    @media(--500vp) {
      opacity: 1;
    }
  }

  & .blocks {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto 25px auto;

    & .block {
      width: 100%;
      padding: 0 25px;
      margin-bottom: 20px;

      @media(--500vp) {
        width: 33%;
      }

      @media(--800vp) {
        order: -1;
        width: 20%;
        padding: 0 10px;
      }

      &:nth-child(1) p {
        color: var(--LightGold);
      }

      &:nth-child(2) {
        width: 100%;

        @media(--800vp) {
          width: 40%;
        }
      }

      & h3 {
        margin-top: 0;
        font-size: 16px;
        color: var(--White);
      }

      & p {
        font-size: 14px;
        color: var(--White);
      }

      & a {
        font-size: 14px;
        font-weight: normal;
        color: var(--LightGold);
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      & ul {
        padding: 0;
        list-style: none;

        & li {
          line-height: 1.5;
        }
      }
    }
  }
}

/*----------------------------------------------------------------*\
	E5 CREDIT
\*----------------------------------------------------------------*/

#element5-credit {
  padding: 20px 0;
  text-align: right;

  @media(--800vp) {
    position: absolute;
    right: 0;
    bottom: 60px;
  }
}

/*----------------------------------------------------------------*\
	COPYRIGHT
\*----------------------------------------------------------------*/

.copyright {
  padding: 0 12px 64px 12px;
  font-size: 14px;
  background-color: var(--Blue);

  @media(--800vp) {
    padding: 0 12px;
  }

  & p {
    display: inline-block;
    margin: 0;
    font-size: 0.875em;
    line-height: 2;
    color: var(--White);
    ;
  }

  & nav {
    display: inline-flex;

    & ul {
      justify-content: flex-start;
      margin: 0;
    }

    & a {
      padding: 0 0.5em;
      font-size: 14px;
      line-height: 2;
      color: var(--White);
      text-transform: uppercase;
    }

    & button {
      padding: 0 0.5em;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      line-height: 2;
      color: var(--White);
      text-transform: uppercase;
      background: transparent;
      border: 0;
    }
  }
}
