/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	padding: 4em 3vw 1em 3vw;
	margin-bottom: 65px;
	position: relative;
	background-color: var(--White);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	@media(--500vp) {
		align-items: center;
	}
	&>.block {
		position: relative;
		z-index: 3;
		max-width: var(--Width);
		width: 100%;
		margin: 0 auto;
		&>* {
			max-width: 700px;
		}
		&>*:first-child {
			margin-top: 0;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
		& h1 span {
			color: var(--Secondary);
			line-height: 0;
		}
	}
}

/*----------------------------------------------------------------*\
	IMAGE PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center left 40%;
		min-height: 450px;
		padding: 4em 3vw;
		overflow: hidden;
		@media(--1200vp) {
			overflow: visible;
		}
		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 75%);
		}
		&>img {
			position: absolute;
			top: 0;
			right: 23px;
			width: 100px;
			height: auto;
			z-index: 2;
			@media(--800vp) {
				top: 25px;
			}
			@media(--1200vp) {
				top: 1.5em;
				right: 1.5em;
				width: 150px;
			}
		}
		&>svg {
			position: absolute;
			z-index: 2;
			top: 0;
			right: -40px;
			transform: rotate(90deg) translateX(-50%);
			@media(--1200vp) {
				top: 100%;
				transform: translateY(-50%);
				left: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;
		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: color( var(--White) alpha(60%));
		}
		& video {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: auto;
			height: auto;
		}
	}
}