/*----------------------------------------------------------------*\
	RSS SIDEBAR
\*----------------------------------------------------------------*/

#rss_feed {
	& h3 {
		margin: 0 0 1em 0;
		padding: .5em 0;
		text-align: center;
		word-wrap: break-word;
		font-size: 16px;
		position: absolute;
		top: -10px;
		transform: translateY(-100%);
		& a {
			color: var(--Grey);
			text-decoration: none;
		}
	}
	& h4 {
		line-height: 1;
		&:first-of-type {
			margin-top: 0;
		}
		& a {
			color: var(--Black);
			font-size: 18px;
			text-decoration: none;
			&:hover,
			&:focus {
				color: var(--Primary);
			}
		}
	}
	& p {
		color: var(--Black);
		word-wrap: break-word;
		line-height: 1.5;
		font-size: 12px;
		& a {
			text-decoration: none;
			color: var(--Grey);
		}
	}
	& .rss2html-note {
		display: none;
	}
}