/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSS Style: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	--SmallWidth: 800px;
	--Width: 1024px;
	--LargeWidth: 1200px;
	--HeaderFont: 'Arvo', sans-serif;
	--HeaderFontBold: 'Poppins Bold', sans-serif;
	--BodyFont: 'Poppins', sans-serif;
	--BodyFontBold: 'Poppins Bold', sans-serif;
	--Primary: #902147;
	--Secondary: #57a39b;
	--Tertiary: #00B399;
	--Positive: #68DD9F;
	--Warning: #FFC77A;
	--Negative: #FF687B;
	--White: #ffffff;
	--LightGrey: #eff4f8;
	--Grey: #838e99;
	--DarkGrey: #838e99;
	--Black: #081E34;
	--Blue: #1f2945;
	--Gold: #aa8241;
	--LightGold: #c6ae6e;
	--LightGreen: #addad7;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1024vp (min-width: 1024px);
@custom-media --1200vp (min-width: 1200px);
div {
	@media(--500vp) {
		box-sizing: inherit;
	}
	@media(--800vp) {
		box-sizing: inherit;
	}
	@media(--1024vp) {
		box-sizing: inherit;
	}
	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
}

body {
	padding-top: 110px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS
\*----------------------------------------------------------------*/

img {
	&.alignleft {
		float: left;
		margin: .875em 1em .875em 0;
	}
	&.alignright {
		float: right;
		margin: .875em 0 .875em 1em;
	}
	&.aligncenter {
		max-width: 100%;
		height: auto;
		margin: 2em auto;
	}
}