/*----------------------------------------------------------------*\
	ARCHIVES
\*----------------------------------------------------------------*/

.navigation.pagination {
	display: none;
}

.button.load-more {
	display: none;
	margin: 50px auto;
}

.feed,
.feed-search {
	display: flex;
	flex-wrap: wrap;
}

/*----------------------------------------------------------------*\
	BLOG
\*----------------------------------------------------------------*/

.blog,
.post-type-archive-teammember {
	& main {
		max-width: var(--LargeWidth);
		margin: 0 auto;
		min-height: 800px;
		&>article {
			max-width: var(--Width);
			padding: 0 3vw;
			margin-left: auto;
			margin-right: auto;
			@media(--1024vp) {
				padding: 0;
			}
		}
	}
}
.post-type-archive-teammember {
	& main {
		max-width: 1400px;
	}
}

.post-type-archive-partner,
.post-type-archive-resource {
	& main {
		&>article {
			max-width: var(--Width);
			margin-left: auto;
			margin-right: auto;
		}
		& .feed {
			max-width: var(--LargeWidth);
			margin: 0 auto;
		}
	}
}