/*----------------------------------------------------------------*\
	FORM TEMPLATE
\*----------------------------------------------------------------*/

.is-form-page {
	& .page-title {
		margin-bottom: 0;
		& .block {
			max-width: 800px;
		}
	}
	& .ie-block {
		display: flex;
		flex-wrap: wrap;
		max-width: 800px;
		margin: 0 auto;
		@media(--800vp) {
			flex-wrap: nowrap;
		}
		& main article {
			padding: 0 3vw;
			width: 100%;
			max-width: 500px;
			@media(--1024vp) {
				padding: 0;
			}
		}
		& aside {
			width: 300px;
			padding-top: 0;
			margin-left: 3vw;
		}
	}
}