/*----------------------------------------------------------------*\
	GRID
\*----------------------------------------------------------------*/

.page-block {
	&.is-home {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 1vw;
		grid-row-gap: 0;
		&>header,
		&>footer,
		&>main {
			grid-column: 1 / span 5;
			order: 1;
		}
	}
}

/*----------------------------------------------------------------*\
	TITLE
\*----------------------------------------------------------------*/

body.home {
	& .page-title {
		margin-bottom: 0;
		position: relative;
		min-height: 600px;
		overflow: hidden;
		@media(--1200vp) {
			overflow: hidden;
		}
		&>.block {
			max-width: 1200px;
		}
		& .buttons {
			margin-top: 25px;
		}
		&.has-image>svg {
			@media(--800vp) {
				position: absolute;
				z-index: 2;
				top: 0;
				left: auto;
				right: 400px;
				width: 285px;
				height: auto;
				transform: rotate(90deg) translateX(-50%);
			}
		}
		& .bg-img {
			position: absolute;
			top: 250px;
			right: -250px;
			bottom: 0;
			width: 800px;
			clip-path: polygon(62% 0, 12% 100%, 113% 100%);
			@media(--500vp) {
				top: 50px;
				right: -25px;
				width: 850px;
				clip-path: polygon(65% 0, 0% 100%, 130% 100%);
			}
		}
	}
}

/* Edge */

@supports (-ms-ime-align: auto) {
	body.home .page-title .bg-img {
		top: 0 !important;
		right: 0 !important;
	}
	body.home .page-title .overlay {
		width: 800px;
		left: auto;
		background: color( var(--White) alpha(50%));
		@media(--500vp) {
			width: 850px;
		}
		@media(--800vp) {
			background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0) 75%)
		}
	}
}

/* IE */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	body.home .page-title .bg-img {
		top: 0 !important;
		right: 0 !important;
	}
	body.home .page-title .overlay {
		width: 800px;
		left: auto;
		background: color( var(--White) alpha(50%));
		@media(--500vp) {
			width: 850px;
		}
		@media(--800vp) {
			background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0) 75%)
		}
	}
}

/*----------------------------------------------------------------*\
	COMPANY SIZE
\*----------------------------------------------------------------*/

.company-size-cta {
	background-color: var(--LightGrey);
	padding: 35px 0 50px 0;
	position: relative;
	& .grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 90%;
		max-width: var(--Width);
		margin-left: auto;
		margin-right: auto;
		@media(--500vp) {
			justify-content: space-between;
		}
	}
	& h2 {
		margin-top: 0;
		margin-bottom: 1em;
		text-align: center;
	}
	&>span {
		color: var(--Secondary);
		font-family: var(--HeaderFont);
		font-style: italic;
		font-size: 40px;
		position: absolute;
		top: 52%;
		left: 50%;
		transform: translate(-50%);
		@media(--500vp) {
			top: 50%;
		}
	}
	& .employees {
		text-align: center;
		text-decoration: none;
		& svg {
			max-width: 200px;
			height: 150px;
			margin: 0 auto;
		}
		& h3 {
			margin: .25em 0 .75em 0;
		}
		& p {
			color: var(--Primary);
			font-family: var(--HeaderFont);
			font-style: italic;
			font-size: 20px;
			margin-bottom: 0;
		}
		&:last-of-type {
			margin-top: 125px;
			@media(--500vp) {
				margin-top: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	CTA BANNER
\*----------------------------------------------------------------*/

.basic-cta {
	background-color: var(--Secondary);
	padding: 75px 3vw;
	margin-bottom: 50px;
	text-align: center;
	& h2 {
		margin: 0 0 .75em 0;
		color: var(--White);
	}
}

/*----------------------------------------------------------------*\
	ARTICLE
\*----------------------------------------------------------------*/

body.home {
	& article {
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
		& h3 {
			font-size: responsive 20px 25px;
			font-range: 420px 1400px;
		}
		& .cta {
			grid-column: 1/span 1;
			text-align: center;
			@media(--500vp) {
				grid-column: 1/span 3;
			}
			& .button {
				margin: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	INDUTRIES
\*----------------------------------------------------------------*/

.industries {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 3vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& h2 {
		width: 100%;
		text-align: center;
		margin-top: 0;
	}
	& .industry {
		text-align: center;
		text-decoration: none;
		width: 50%;
		margin: 2em 0;
		@media(--800vp) {
			width: auto;
			margin: 0;
		}
		& h3 {
			font-size: responsive 20px 28px;
			font-range: 420px 1400px;
			margin-top: .25em;
		}
		& img {
			max-width: 100%;
			width: 125px;
		}
	}
}

/*----------------------------------------------------------------*\
	AWARDS
\*----------------------------------------------------------------*/

.awards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--Width);
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;
	& h2 {
		width: 100%;
		text-align: center;
		margin-top: 0;
	}
	& .award {
		width: 175px;
		max-width: calc(50% - 20px);
		margin: 10px;
		text-align: center;
		& img {
			width: 100%;
			height: auto;
		}
	}
}