/*----------------------------------------------------------------*\
	SINGLE POSTS
\*----------------------------------------------------------------*/

.single-job {
	& main {
		& article {
			& form {
				margin: 0 auto;
			}
		}
	}
}

.single-post {
	& .page-title {
		margin-bottom: 0;
	}
	& main {
		position: relative;
		& .featured-image {
			margin: 2rem auto;
			display: block;
		}
		& article {
			position: relative;
		}
	}
	& .main-content-block {
		margin-bottom: 0;
	}
}

/*----------------------------------------------------------------*\
	SOCIAL SHARE
\*----------------------------------------------------------------*/

.social-share {
	max-width: var(--SmallWidth);
	margin: 1rem auto 25px auto;
	text-align: right;
	&.fixed {
		display: none;
		position: absolute !important;
		top: 0;
		left: 5vw;
		width: 50px;
		text-align: center;
		@media(--800vp) {
			display: block;
		}
		& a,
		& a:first-child {
			margin: .25em 0;
			padding: .75em 1.25em;
		}
	}
}

/*----------------------------------------------------------------*\
	RELATED
\*----------------------------------------------------------------*/

.related-posts {
	margin: 2rem 0;
	padding: 2rem 3vw;
	background: var(--Grey);
	justify-content: center;
	& .preview-post {
		width: 100%;
		margin: 0;
	}
}