/*----------------------------------------------------------------*\
	TEAM
\*----------------------------------------------------------------*/

.single-teammember .page-nav a.is-active {
	color: var(--Grey);
	border-color: var(--Grey);
	background-color: transparent;
}

.single-teammember .page-nav a:hover,
.single-teammember .page-nav a:focus {
	color: var(--White);
	border-color: var(--Blue);
	background-color: var(--Blue);
}

.single-teammember .page-block {
	& nav.page-nav {
		grid-column: 1/span 5;
		order: 1;
		margin: -2em 0 2em 0;
		@media(--800vp) {
			grid-column: 2/span 3;
		}
	}
	& aside {
		order: 1;
	}
	& main {
		order: 2;
	}
	& footer {
		order: 2;
	}
}

.certifications {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 24px;
	@media(--800vp) {
		justify-content: flex-start;
	}
	& .certification {
		width: calc(33% - 16px);
		max-width: 150px;
		margin: 0 8px;
		& img {
			max-width: 100%;
			height: auto;
		}
	}
}

nav.post-nav {
	display: flex;
	flex-wrap: wrap;
	& a {
		text-decoration: none;
		color: var(--Blue);
	}
	& svg {
		height: 2em;
		width: 3em;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
	& .prev {
		width: 100%;
		text-align: right;
		margin-left: auto;
		@media(--500vp) {
			width: auto;
		}
	}
	& .next {
		width: 100%;
		text-align: left;
		margin-bottom: 1em;
		@media(--500vp) {
			width: auto;
		}
	}
}

.single-teammember aside {
	text-align: center;
	margin-bottom: 25px;
	@media(--1024vp) {
		text-align: left;
	}
}