/*----------------------------------------------------------------*\
	MAIN CONTENT
\*----------------------------------------------------------------*/

article,
aside {
	margin-bottom: 0;
	z-index: 2;
	@media(--800vp) {
		margin-bottom: 50px;
	}
	&>img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}
}

main {
	max-width: 100%;
	& article {
		padding: 0 3vw;
	}
}

.main-content-block {
	max-width: var(--Width);
	margin: 0 auto 50px auto;
	position: relative;
	z-index: 2;
	&>*:first-child {
		margin-top: 0;
	}
	&>h6:first-of-type {
		font-size: 20px;
		font-weight: normal;
		font-family: var(--BodyFont);
		margin: 0;
		color: var(--Black);
		line-height: 1.75;
		@media(--800vp) {
			font-size: 24px;
		}
	}
}

.single .main-content-block {
	max-width: var(--SmallWidth);
}

/*----------------------------------------------------------------*\
	FULL WIDTH
\*----------------------------------------------------------------*/

.page-block {
	&.is-full-width {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 0vw;
		&>header,
		&>footer,
		&>main {
			grid-column: 1 / span 5;
			order: 1;
		}
		& .has-limited-width {
			max-width: var(--Width);
		}
	}
}

/*----------------------------------------------------------------*\
	SIDEBAR RIGHT
\*----------------------------------------------------------------*/

.page-template-sidebar-right {
	& .ie-block {
		display: flex;
		flex-wrap: wrap;
		max-width: 1024px;
		margin: 0 auto;
		@media(--800vp) {
			flex-wrap: nowrap;
		}
		& main {
			width: 100%;
			padding: 0 3vw;
			@media(--800vp) {
				width: calc(100% - 330px);
			}
			@media(--1024vp) {
				padding: 0 3vw 0 0;
			}
			article {
				width: 100%;
				padding: 0;
			}
		}
		& aside {
			width: 100%;
			padding-top: 0;
			@media(--800vp) {
				width: 330px;
				padding-right: 3vw;
			}
			@media(--1024vp) {
				padding-right: 0;
			}
			& .contents {
				position: relative;
				padding: 10px;
				background-color: var(--LightGrey);
				@media(-800vp) {
					padding: 16px;
				}
				&>*:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SIDEBAR LEFT
\*----------------------------------------------------------------*/

.page-template-sidebar-left,
.single-teammember {
	& .ie-block {
		display: flex;
		flex-wrap: wrap;
		max-width: 1024px;
		margin: 0 auto;
		@media(--800vp) {
			flex-wrap: nowrap;
		}
		& main {
			width: 100%;
			padding: 0 3vw;
			@media(--800vp) {
				width: calc(100% - 330px);
			}
			@media(--1024vp) {
				padding: 0 0 0 3vw;
			}
			article {
				width: 100%;
				padding: 0;
			}
		}
		& aside {
			width: 100%;
			padding-top: 0;
			order: -1;
			@media(--800vp) {
				width: 330px;
				padding-left: 3vw;
			}
			@media(--1024vp) {
				padding-left: 0;
			}
			& .contents {
				position: relative;
				padding: 10px;
				background-color: var(--LightGrey);
				@media(-800vp) {
					padding: 16px;
				}
				&>*:first-child {
					margin-top: 0;
				}
			}
		}
	}
	& .post-nav {
		max-width: 1024px;
		margin: 50px auto 100px;
	}
}

/*----------------------------------------------------------------*\
	SIDEBAR BOTH
\*----------------------------------------------------------------*/

.page-block {
	&.is-sidebar-both {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 0vw;
		&>header,
		&>footer,
		&>main,
		&>aside {
			grid-column: 1 / span 5;
			order: 1;
		}
		@media(--800vp) {
			&>main {
				grid-column: 2 / span 3;
				order: 2;
			}
			&>aside {
				&.is-left {
					grid-column: 1 / span 1;
					order: 1;
				}
				&.is-right {
					grid-column: 5 / span 1;
					order: 3;
				}
			}
			&>footer {
				order: 4;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	404
\*----------------------------------------------------------------*/

.page-block {
	&.is-error {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 0vw;
		&>header,
		&>footer,
		&>main {
			grid-column: 1 / span 6;
			order: 1;
		}
	}
}

.error404,
.search-no-results,
.page-template-thankyou {
	header.page-title {
		margin-bottom: 0;
		min-height: 600px;
	}
	header.page-title.has-image>svg,
	footer.page-footer>svg {
		display: none;
	}
}

/*----------------------------------------------------------------*\
	THANK YOU
\*----------------------------------------------------------------*/

.page-block {
	&.is-thank-you {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 0vw;
		&>header,
		&>footer,
		&>main {
			grid-column: 1 / span 6;
			order: 1;
		}
	}
}

/* IE fixes */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	aside {
		max-width: 1024px;
		padding-top: 50px;
		margin-left: auto;
		margin-right: auto;
		& form {
			margin: 0 auto;
		}
	}
}