/*----------------------------------------------------------------*\
	BANNERS
\*----------------------------------------------------------------*/

.banner {
	width: 100%;
	height: auto;
	padding: 4em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: color( var(--Primary) alpha(60%));
	}
}

/*----------------------------------------------------------------*\
	CONTENT
\*----------------------------------------------------------------*/

.banner {
	&>.block {
		position: relative;
		z-index: 2;
		max-width: 600px;
		color: var(--White);
		&>*:first-child {
			margin-top: 0;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
	}
}