/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/

.card {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 90%;
	border-radius: 6px;
	border: 1px solid var(--DarkGrey);
	background-color: #fff;
	&>*:first-child {
		margin-top: 1rem;
	}
	&>img:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 1rem;
	}
	& .is-padded {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	& .is-fluid:last-child {
		margin-bottom: 0;
	}
	& .buttons {
		margin-top: 1.5em;
	}
}

/*----------------------------------------------------------------*\
		FEATURED ICON
\*----------------------------------------------------------------*/

.card {
	& .featured-icon {
		text-align: center;
		& img {
			width: 33%;
			max-width: 125px;
			height: auto;
			margin: 0 auto;
		}
	}
}

/*----------------------------------------------------------------*\
		FEATURED IMAGE
\*----------------------------------------------------------------*/

.card {
	& img {
		width: 100%;
		height: auto;
		display: block;
		&+* {
			margin-top: 1rem;
		}
	}
}