/*-----------------------------------*\
	COOKIE CONSENT
\*-----------------------------------*/
#gdpr-cookie-message {
  position: fixed;
  bottom: 0;
  left: 2em;
  z-index: 10;
  max-width: 550px;
  padding: 2em;
  background-color: #1f2945;

  & > h4 {
    margin-top: 0;
    color: #fff;
    letter-spacing: 1px;
  }

  & h5 {
    font-family: 'Poppins';
    color: #fff;
    letter-spacing: 1px;
  }

  & > p {
    font-size: 14px;
    color: #fff;

    &:last-of-type {
      margin-bottom: 0;
    }

    & button {
      padding: 6px 10px;

      &:first-of-type {
        margin-right: 1.5em;
      }
    }
  }

  & > div {
    & ul {
      padding: 0;
      margin: 1em auto 2em;
      list-style-type: none;

      & li {
        display: flex;
        flex-wrap: wrap;

        & label {
          position: relative;
          color: #fff;
          cursor: pointer;

          &::before {
            position: absolute;
            top: 6px;
            left: -24px;
            display: block;
            width: 14px;
            height: 14px;
            content: '';
            background-color: transparent;
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            opacity: 0;
            transition: all 0.15s linear;
          }
        }

        & input {
          display: block;
          width: 18px;
          height: 18px;
          margin: 4px 8px 4px 0;
          cursor: pointer;
          background-color: #fff;
          border: none;
          border-radius: 4px;
          opacity: 1;
          opacity: 0.5;
          transition: all 0.15s linear;

          -webkit-appearance: none;

          &:checked {
            opacity: 1;

            & + label::before {
              opacity: 1;
            }
          }
        }

        & span {
          width: 100%;
          padding-left: 26px;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
}
