/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&>.item {
		width: calc(18% - 2vw);
		margin: 1vw;
	}
	& img {
		width: 100%;
		height: auto;
		display: block;
	}
}

/*----------------------------------------------------------------*\
	MASONRY GALLERIES 
\*----------------------------------------------------------------*/

.gallery {
	&.is-masonry {
		&::after {
			content: '';
			clear: both;
		}
		& .item,
		& .sizer {
			width: calc(25% - 2vw);
		}
	}
}