/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	display: flex;
	& ul {
		padding: 0;
		margin: 0;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		& li {
			list-style: none;
			&.active a {
				border-color: var(--Blue);
			}
			& a {
				display: block;
				padding: .5em 1em;
				text-decoration: none;
				color: var(--Blue);
				font-size: 17px;
				border-bottom: 3px solid transparent;
				transition: all .35s linear;
				&:hover,
				&:focus,
				&.active {
					border-color: var(--Blue);
				}
				&:active {
					border-color: var(--Blue);
				}
			}
			&.current_page_item a,
			&.current-page-ancestor a {
				border-color: var(--Blue);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAS DROPDOWN MODIFIER
\*----------------------------------------------------------------*/

nav {
	position: relative;
	z-index: 10;
	& ul li.menu-item-has-children {
		position: relative;
		&:hover,
		&:focus {
			ul.sub-menu {
				opacity: 1;
				top: 100%;
			}
		}
		& ul.sub-menu {
			display: block;
			position: absolute;
			width: 200%;
			max-width: 200px;
			opacity: 0;
			top: calc(100% - 10px);
			transition: all .35s linear;
			& li {
				& a {
					display: block;
					background: var(--Primary);
					color: var(--White);
					&:hover,
					&:focus {
						background-color: color( var(--Primary) shade(20%));
					}
					&:active {
						background-color: color( var(--Primary) shade(40%));
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/

nav.is-stacked {
	& ul {
		display: block;
		max-width: 200px;
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	padding: 1em;
	background-color: var(--White);
	position: fixed;
	top: 33px;
	width: 100%;
	z-index: 12;
	@media(--500vp) {
		padding: 0 1em;
		top: 39px;
	}
	@media(--800vp) {
		display: flex;
		justify-content: space-between;
	}
	&>a {
		display: flex;
		align-items: center;
		float: left;
		margin-top: 10px;
		@media(--800vp) {
			float: none;
			margin-top: 0;
		}
		& svg {
			vertical-align: text-top;
			height: 45px;
			width: 200px;
			margin-left: .25em;
			@media(--800vp) {
				height: 75px;
				width: 300px;
			}
		}
	}
	&>nav {
		position: fixed;
		flex-wrap: wrap;
		align-content: flex-start;
		top: 0;
		right: 0;
		padding-top: 85px;
		transform: translateX(200%);
		background: white;
		box-shadow: -5px 0 20px #1f2945;
		height: 100vh;
		width: 70vw;
		transition: all .35s ease-in-out;
		&.is-active {
			transform: translateX(0);
			& .close {
				display: block;
				background: transparent;
				position: fixed;
				top: 0;
				left: -30vw;
				width: 30vw;
				height: 100vh;
			}
		}
		& ul {
			flex-wrap: wrap;
			display: block;
			& li {
				@media(--800vp) {
					text-align: center;
				}
				& a {
					line-height: 2;
					width: 100%;
					border-bottom-width: 6px;
				}
			}
		}
		& .mobile-nav {
			display: block;
			width: 100%;
			& button {
				background: transparent;
				border: transparent;
				color: var(--Blue);
				text-transform: none;
				font-family: var(--BodyFont);
			}
			@media(--800vp) {
				display: none;
			}
		}
		@media(--800vp) {
			position: relative;
			transform: none;
			padding: 0;
			box-shadow: none;
			height: auto;
			width: auto;
			flex-wrap: nowrap;
			ul {
				flex-wrap: nowrap;
				display: flex;
				& li {
					& a {
						line-height: 75px;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		UTILITY NAVIGATION
\*----------------------------------------------------------------*/

.utility-block {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	height: 40px;
	background-color: var(--Blue);
	font-size: 14px;
	color: var(--White);
	text-transform: uppercase;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 2500;
	width: 100%;
	@media(--500vp) {
		text-align: left;
	}
	& a {
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 1px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		border: none;
	}
	& .widget-area {
		width: 100%;
		& p {
			margin: 6px 0;
		}
		@media(--500vp) {
			width: auto;
			& p {
				margin: .5em 0;
			}
		}
	}
	& .nav-block {
		width: 0;
		overflow: hidden;
		&>button {
			background: transparent;
			border-color: transparent;
			padding: 0;
			font-family: var(--BodyFont);
			text-transform: uppercase;
		}
		@media(--500vp) {
			display: block;
			display: flex;
			width: auto;
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/

nav.page-nav {
	max-width: var(--Width);
	margin: -30px auto 30px auto;
	padding: 0 3vw;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	@media(--1200vp) {
		padding: 0;
	}
	& .button {
		margin-right: .75em;
	}
}

/*----------------------------------------------------------------*\
		SHAMBURGER MENU
\*----------------------------------------------------------------*/

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
	width: 35px;
	height: 6px;
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 10px;
	background: var(--Blue);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	background: var(--Blue);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu {
	display: block;
	position: relative;
	z-index: 11;
	top: 18px;
	background: var(--Blue);
	transition: all 0ms 300ms;
	float: right;
	margin-top: 10px;
	@media(--800vp) {
		display: none
	}
}

.hamburger-menu.is-active {
	background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.is-active:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.is-active:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*----------------------------------------------------------------*\
		SEARCH FORM
\*----------------------------------------------------------------*/

#search-button {
	order: -1;
	width: 100%;
	text-align: left;
	background: transparent;
	border: transparent;
	& svg {
		width: 25px;
		height: 25px;
		display: inline-block;
	}
	@media(--800vp) {
		order: 1;
		width: auto;
	}
}

#search-form {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0;
	padding: 0 25px;
	background-color: var(--White);
	opacity: 0;
	overflow: hidden;
	z-index: 10;
	transition: all .35s linear;
	&.is-active {
		height: 100%;
		opacity: 1;
	}
	& button,
	& .button {
		margin: 1em 0 0 0;
		padding: .25em 1em;
		background-color: var(--Primary);
		border-color: var(--Primary);
	}
	#search-close {
		background: transparent;
		border: transparent;
		padding: 0;
		position: absolute;
		right: 25px;
		margin-top: 30px;
		@media(--800vp) {
			position: initial;
			margin: 0;
		}
		& span {
			display: block;
			@media(--800vp) {
				display: none;
			}
		}
		& svg {
			width: 25px;
			height: 25px;
			display: none;
			@media(--800vp) {
				display: inline-block;
			}
		}
	}
}

#desktop-search {
	display: none;
	@media(--800vp) {
		display: block;
	}
}

#mobile-search {
	display: block;
	@media(--800vp) {
		display: none;
	}
}

/*----------------------------------------------------------------*\
		LOGIN MODAL
\*----------------------------------------------------------------*/

.ezmodal {
	& .ezmodal-header {
		padding: 0;
		border: 0;
	}
	& .ezmodal-container {
		width: 90% !important;
		max-width: 450px;
		padding: 1.5em;
		background: var(--White);
		border-radius: 10px;
		& .ezmodal-close {
			right: .5em;
			top: .25em;
		}
		& .ezmodal-content {
			& h2 {
				margin: 0;
			}
			& p {
				margin: 0;
				color: var(--Primary);
				font-family: var(--HeaderFont);
				font-size: 1rem;
				font-style: italic;
				line-height: 1.3;
			}
		}
	}
}