/*----------------------------------------------------------------*\
		NOTIFICATION
\*----------------------------------------------------------------*/

.notification {
	padding: 2em;
	background: var(--DarkGrey);
	position: relative;
	transition: all .35s linear;
	&>p {
		margin: 0;
	}
	&>button {
		position: absolute;
		top: 0;
		right: 0;
	}
}

/*----------------------------------------------------------------*\
		HIDDEN MODIFIER
\*----------------------------------------------------------------*/

.notification {
	&.is-hidden {
		opacity: 0;
		padding: 0 2em;
		max-height: 0;
		overflow: hidden;
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

.notification {
	&.has-icon {
		display: flex;
		align-items: center;
		&>img,
		&>svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 5em;
			width: 5em;
			margin-right: 2em;
			stroke: var(--Black);
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

.notification {
	&.is-primary {
		border-color: var(--Primary);
		background-color: var(--Primary);
	}
	&.is-secondary {
		border-color: var(--Secondary);
		background-color: var(--Secondary);
	}
	&.is-tertiary {
		border-color: var(--Tertiary);
		background-color: var(--Tertiary);
	}
	&.is-negative {
		border-color: var(--Negative);
		background-color: var(--Negative);
	}
	&.is-warning {
		border-color: var(--Warning);
		background-color: var(--Warning);
	}
	&.is-positive {
		border-color: var(--Positive);
		background-color: var(--Positive);
	}
	/* add additional colors by adding variables first */
}