/*----------------------------------------------------------------*\
		BLOG
\*----------------------------------------------------------------*/

.preview-post {
	display: block;
	width: 96%;
	margin: 0 2% 30px 2%;
	padding: 1em 1em 2em 1em;
	border-bottom: 2px solid var(--Blue);
	background-color: var(--White);
	position: relative;
	z-index: 3;
	@media(--800vp) {
		width: 46%
	}
	&>a {
		text-decoration: none;
	}
	& h1 {
		font-size: responsive 22px 28px;
		font-range: 420px 1400px;
		margin: 0;
	}
	& p {
		margin: 0;
		&:first-child {
			color: var(--Primary);
			font-family: var(--HeaderFont);
			font-style: italic;
			font-size: 14px;
		}
		&:nth-of-type(2) {
			color: var(--Grey);
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 10px 0;
		}
	}
}

/*----------------------------------------------------------------*\
	JOB
\*----------------------------------------------------------------*/

.job-preview {
	text-decoration: none;
	color: var(--Black);
	& p {
		margin: 10px 0;
	}
	& h5 {
		color: var(--Primary);
		font-family: var(--HeaderFont);
		font-style: italic;
	}
	&:first-of-type h5 {
		margin-top: 0;
	}
}

/*----------------------------------------------------------------*\
	TEAM
\*----------------------------------------------------------------*/

.preview-member {
	width: 48%;
	padding: 0;
	margin: 0 1% 50px 1%;
	@media(--500vp) {
		width: 48%;
	}
	@media(--800vp) {
		width: 23%;
	}
	& a {
		text-decoration: none;
	}
	& .headshot-contain {
		height: 200px;
		background-size: auto 100%;
		background-position: center;
		transition: all .35s linear;
		@media(--500vp) {
			height: 250px;
		}
		@media(--1024vp) {
			height: 325px;
		}
	}
	& h2 {
		margin: 8px 0 0 0;
		font-size: responsive 20px 25px;
		font-range: 420px 1400px;
	}
	& p {
		margin: .5em 0 1em 0;
		color: var(--Primary);
		font-family: var(--HeaderFont);
		font-style: italic;
	}
	& .buttons {
		margin-top: 10px;
	}
	&:hover,
	&:focus {
		& .headshot-contain {
			background-size: auto 110%;
		}
	}
}

/*----------------------------------------------------------------*\
		PARTNERS
\*----------------------------------------------------------------*/

.post-type-archive-partner .feed {
	justify-content: center;
	& .partner {
		width: 46%;
		margin: 0 2% 50px 2%;
		text-align: center;
		@media(--800vp) {
			width: 29%;
		}
		& img {
			width: 100%;
			max-width: 250px;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
		RESOURCES
\*----------------------------------------------------------------*/

.post-type-archive-resource .feed {
	justify-content: center;
	& .resouce {
		width: 250px;
		margin: 0 2% 50px 2%;
		text-align: center;
		& h2 {
			margin: .35em 0;
			font-size: responsive 20px 25px;
			font-range: 420px 1400px;
		}
		& svg {
			width: 100%;
			max-width: 75px;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
		ICON CARDS
\*----------------------------------------------------------------*/

.icon-cards {
	display: flex;
	flex-wrap: wrap;
	& h2 {
		margin-bottom: 1em;
	}
	& .icon-card {
		width: 96%;
		margin: 0 2% 20px 2%;
		@media(--500vp) {
			width: 46%;
		}
		& img {
			width: 60px;
			height: 60px;
		}
		& h3 {
			margin: 10px 0;
			color: var(--Primary);
			font-size: responsive 20px 25px;
			font-range: 420px 1400px;
			font-family: var(--HeaderFont);
			font-weight: normal;
			font-style: italic;
		}
	}
}

/*----------------------------------------------------------------*\
		SEARCH
\*----------------------------------------------------------------*/

.preview-search {
	display: block;
	width: 96%;
	margin: 0 2% 30px 2%;
	padding: 1em 1em 2em 1em;
	border-bottom: 2px solid var(--Blue);
	background-color: var(--White);
	position: relative;
	z-index: 3;
	& .search-term {
		color: var(--Secondary);
		text-decoration: underline;
	}
	@media(--800vp) {
		width: 46%
	}
	&>a {
		text-decoration: none;
	}
	& h1 {
		font-size: responsive 22px 28px;
		font-range: 420px 1400px;
		margin: 0;
	}
	& p {
		margin: 0;
	}
}