/*----------------------------------------------------------------*\
	SLIDERS
\*----------------------------------------------------------------*/

.glide {}

/*----------------------------------------------------------------*\
	ARROWS
\*----------------------------------------------------------------*/

.glide__arrow {
	&>svg {
		display: inline-block;
		margin: 0 !important;
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 1.5em;
		width: 1.5em;
		margin-left: .25em;
		stroke: var(--White);
		fill: transparent;
	}
}

/*----------------------------------------------------------------*\
	BULLETS
\*----------------------------------------------------------------*/

.glide__bullet {
	width: .875em;
	height: .875em;
}

/*----------------------------------------------------------------*\
	SLIDES
\*----------------------------------------------------------------*/

.glide__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 150px;
	color: #fff;
	box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .5);
	background-color: var(--DarkGrey);
	& .block>img {
		max-width: 100%;
	}
}

/*----------------------------------------------------------------*\
	ICON SLIDERS
\*----------------------------------------------------------------*/

.icon-glide {
	width: 100%;
	& .glide__slide {
		background-color: transparent;
		box-shadow: none;
		min-height: 0;
	}
}

/*----------------------------------------------------------------*\
	TESTIMONY SLIDER
\*----------------------------------------------------------------*/

.testimony-glide {
	background-color: var(--LightGrey);
	padding: 4em 0;
	position: relative;
	z-index: 2;
	& h2 {
		text-align: center;
		margin-top: 0;
	}
	& .glide {
		max-width: 90%;
		margin: 0 auto;
		& button.slick-arrow {
			width: 35px;
			height: 35px;
			background-size: contain;
			background-position: center;
			background: transparent;
			border: 0;
			box-shadow: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
			text-indent: -10000px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&:hover,
			&:focus {
				background: transparent;
			}
			&.slick-prev {
				left: 0;
				background-image: url(../images/arrowhead-left.svg);
			}
			&.slick-next {
				right: 0;
				background-image: url(../images/arrowhead-right.svg);
			}
		}
	}
	& .slick-slide {
		padding: 0 40px;
	}
	& .glide__slide {
		flex-wrap: wrap;
		background: transparent;
		border: 0;
		box-shadow: none;
		color: var(--Black);
		padding: 0 1em;
		min-height: 0;
		& p.has-icon {
			width: 100%;
			font-weight: bold;
			& img {
				height: 2.25em;
				width: auto;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -2px;
				margin-right: .25em;
			}
		}
		& p:last-child {
			font-family: var(--HeaderFont);
			font-style: italic;
			margin: 0;
			width: 100%;
		}
	}
}