/*----------------------------------------------------------------*\
	TITLES
\*----------------------------------------------------------------*/

.content_title {
	width: 100%;
}

.block-column .content_title h2 {
	margin-top: 0;
}

/*----------------------------------------------------------------*\
	EDITOR
\*----------------------------------------------------------------*/

.content_editor {
	&>*:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}